@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
* {
    font-family: "Montserrat", "Gill Sans", sans-serif;
}
:root {
    --border: 5px solid black;
    --hover-backg: lightgray;
}
h1 {
    margin: auto;
    font-family: "Press Start 2P";
}
h3 {
    margin-top: 0px;
}
#pageContent {
    display: block;
    width: fit-content;
    margin-top: 5px;
}
#generateBtn {
    width: fit-content;
    margin-top: 5px;
    padding: 3%;
}
form {
    width: fit-content;
}
p {
    margin-top: 0.3em;
}
input {
    border: var(--border);
    padding-top: 0px;
    padding: 1%;
    margin: 0px;
}
.errorMessage {
    color: red;
}
.userMessage {
    color: green;
}
.errorMessage, .userMessage {
    animation-name: removeMessage;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes removeMessage {
    85% {opacity: 1;}
    100% {opacity: 0;}
}
#invisibleCanvas {
    display: none;
}
.loadResult {
    margin-left: 5px;
    margin-top: 2vh;
    padding: 0px;
    border: var(--border);
    width: 95%;
    overflow: hidden;
    max-height: 450px;
}
.loadResult h3, .loadResult p{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 3px;
}
.loadResult p {
    margin-top: 0px;
}
.loadResult:hover {
    background-color: var(--hover-backg);
}
.resultImageContainer {
    margin: auto;
    overflow: hidden;
    width: 150px;
    height: 120px;
    padding: 10px;
    padding-left: 18%;
}
.resultImage {
    transform-origin: center center;
    width: 100%;
    height: 80%;
}
button {
    border: var(--border);
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    padding: 1em;
}
button:hover {
    background-color: var(--hover-backg);
}
.nav {
    background-color: lightgray;
}
nav ul {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 0;

    border: var(--border);
    padding: 1%;
}
nav li {
    display: inline-block;
}
nav li:not(:first-child) {
    margin-left: 5%;
}
nav li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.colorPicker {
    padding: 0px;
}
#pleaseInvade {
    margin: auto;
    margin-top: -80px;
}
#saveAnInvader {
    display: none;
}
#loadAnInvader {
    display: none;
}